.scroll-btn {
  position: fixed;
  bottom: -60px;
  right: 30px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;

  cursor: pointer;

  transition: all 0.38s ease-out;

  &__icon {
    position: relative;

    width: 100%;
    height: 100%;

    transition: all 0.25s ease-out;
  }

  &__icon:hover {
    background-color: rgb(10, 70, 160);
  }

  &.show {
    bottom: 35px;

    opacity: 1;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 40px;
    transform: translate(-50%, -50%);

    fill: rgb(42, 34, 190);
  }

  &:hover svg {
    fill: rgb(255, 255, 255);
  }
}
