.login {
  margin: 130px 0
}


.container {
  display: flex;
  gap: 2rem;
  margin: 0 10rem;

  .left {
    flex-basis: 40%;

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .right {
    flex-basis: 40%;
  }
}
