.footer {
  padding: 4rem 0;
  border-top: 1px solid #ababab;
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
}
.logo-col {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  .footer-logo {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 40px;
    &:hover {
      color: #4263eb;
    }
  }

  .social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    & li:hover a {
      color: #4263eb;
    }
  }

  .copyright {
    font-size: 12px;
    line-height: 1.6;
    color: #495057;
    margin-top: auto;
  }
}

.footer-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.contacts {
  font-style: normal;
  font-size: 12px;
  line-height: 1.6;

  .address {
    color: #495057;
    margin-bottom: 24px;
  }
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 12px;
  color: #495057;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #4263eb;
  font-weight: 500;
}
