html {
  background-color: #f7f7f7;
}

body {
  margin: 0 4rem;
  font-family: "Poppins", sans-serif !important;

  line-height: 1;
  font-weight: 400;
  color: #343a40;

  overflow-x: none;
  -ms-overflow-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body::-webkit-scrollbar {
  display: none;
}
